<header id="header">
  <h2>{{#linkTo "index"}}Home{{/linkTo}}</h2>

  <nav>
    <ul>
      <li>{{#linkTo "biblebooks"}}biblebooks{{/linkTo}}</li>
    </ul>
  </nav>
</header>

<h2>this is application</h2>

{{outlet}}
